.pdf-export {
    background-color: rgb(58, 58, 201) !important;
    margin-right: 10px;
    margin-bottom: 10px;
}

.excel-export {
    background-color: rgb(58, 58, 201) !important;
    margin-bottom: 10px;

}