

.index-container {
  padding: 0 !important;
  h1, h2, h3, h4, h5, h6, .main-content {
    margin: 0 !important;
  }
}

.top-navbar {
  background-color: rgb(58, 58, 201);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  h3, h6 {
    color: #fff;
  }

  h3:hover, h6:hover {
    cursor: pointer;
  }
}

.nav-container {
  display: flex;
  gap: 30px;
}

.nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  border-radius: 10px;
}

.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active,
.nav-link:link:hover,
.nav-link:visited:hover,
.nav-link:hover:hover,
.nav-link:active:hover {
  color: #fff;
}

.nav-link:hover {
  background-color: rgb(47, 47, 175);
}

.nav-link.active {
  background-color: rgb(41, 41, 151);
}